.hero {
    background-image: url("../images/hero-bg.jpeg");
    background-size: cover;
    background-position: bottom;
    position: relative;
    height: auto;
    text-align: center;
    margin-bottom: 40px;
  }

.page-title{
    color: #fce138;
    display: inline-block;
    border-bottom: 4px solid #fce138;
    padding: 0 80px 15px 80px;
    font-weight: normal;
    font-style: italic;

}